@{
    ViewBag.Title = "Home Page";
}
@model Quality.WebApp.HomeViewModel



<div class="lineBtnHome">
    <input type="button" value="PM" class="btn btn-outline-primary btnHome one" onclick="location.href='@Url.Action("Index","PM")';" />
    <input type="button" value="PR tringles" class="btn btn-outline-primary btnHome two" />
    <input type="button" value="PC" class="btn btn-outline-primary btnHome three" />
    <input type="button" value="PR robots" class="btn btn-outline-primary btnHome four" />
</div>
